body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden; /* Чтобы не было скролла */
}

.card {
    text-align: center;
    position: relative;
}

.hidden {
    opacity: 0;
    transition: opacity 1s, transform 1s;
}

.visible {
    opacity: 1;
}

#mainImage {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
    transform: translateX(100%); /* Начальное положение за правым краем */
}

#secondImage {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0; /* Начальное состояние второй картинки */
}

#mainText {
    font-size: 24px;
    color: #333;
    transform: translateY(0); /* Начальное положение текста */
    transition: transform 1s;
}

#buttons {
    margin-top: 20px;
    transition: opacity 1s;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    margin: 0 10px;
}

button:hover {
    background-color: #0056b3;
}
